<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kogile.post.mapper.PostMapper">

	<select id="list_post" resultType="kogile.post.domain.PostVO">
		select /*+ INDEX_ASC(post, XPK포스트) */ * from post p
		join card c
		on c.c_no = p.c_no
		where c.pjt_no = #{pjt_no}
		
	</select>

	<select id="card_no_info" resultType="kogile.project.domain.CardVO">
		select /*+ INDEX_asc(card XPK카드) */ * from card
		where pjt_no = #{pjt_no}
	</select>
	
 	<!-- 설명 보여지기 -->
 	<select id="showDescription" parameterType="int" resultType="kogile.post.domain.PostVO">
		select p_description from post where p_no = #{p_no}
	</select>

	<!-- 설명 수정 -->
	<update id="updateDescription" parameterType="kogile.post.domain.PostVO">
		update post set p_description = #{p_description} where p_no = #{p_no}
	</update>
	
</mapper>